---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/layout/footer';
import Navbar from '@/components/layout/navbar';
import Banner from '@/components/sections/banner';

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={`min-h-screen antialiased flex flex-col`}>
    <Banner
      client:only="react"
      url="https://shadcnblocks.com/template/scalar?bundle=astro"
    />
    <Navbar currentPage={currentPath} client:load />
    <main class="flex-1"><slot /></main>
    <Footer client:load />
  </body>
</html>
