---
import "../styles/global.css";
import Navbar from "./Navbar.astro";

export interface Props {
	title?: string;
	description?: string;
}

const { title = "Simon Balfe", description } = Astro.props;
---

<html lang="en">
	<head>
		<script
			id="Cookiebot"
			src="https://consent.cookiebot.com/uc.js"
			data-cbid="881d8353-c0ba-4cb0-8132-b7b5011df002"
			data-blockingmode="auto"
			type="text/javascript"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/me.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
	</head>
	<script
		type="text/partytown"
		async
		src="https://www.googletagmanager.com/gtag/js?id=G-972ZSH6YNG"></script>
	<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-972ZSH6YNG");
	</script>
	<body>
		<Navbar />
		<slot />
		<div class="mt-8">
			<iframe
				src="https://embeds.beehiiv.com/3cc42c6d-a9fe-4839-9f24-e1acee5dc3ef"
				data-test-id="beehiiv-embed"
				width="100%"
				height="320"
				frameborder="0"
				scrolling="no"
				style="border-radius: 4px; margin: 0; background-color: transparent;"
			></iframe>
		</div>
	</body>
</html>